#headerTable{
	background-color: #100010;
	width: 70%;
	margin: auto;
	display: table;
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #99d9ea;
}

#headerTableRow {
	display: table-row;
}

#headerTableCell1 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#headerTableCell2 {
	display: table-cell;
	width: 50%;
	text-align: center;
	vertical-align: middle;
	
}

#headerTableCell3 {
	width: 30%;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

#headerItem {
	padding: 0px;
	margin: 4px;
}

#map_button {
	width: 125px;
	height: 125px;

	background-color: #100010;
	color: #99d9ea;
	font-size: 16px;
}

#gitHub_button {
	width: 125px;
	height: 125px;
	background-color: #100010;

	padding: 40px 30px;
	font-size: 16px;
	color: #99d9ea;
}

#instagram_button {
	width: 125px;
	height: 125px;
	background-color: #100010;
	
	padding: 40px 30px;
	font-size: 16px;
	-webkit-transition: scale(1.4);
	color: #99d9ea;
}

#about_text {
	text-align: center;
	font-size: 16px;
	color: #99d9ea;
}

.picSlide img {
	height:90px;
	width:90px;
}




